@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand&family=Rubik&family=Shadows+Into+Light&display=swap");

.App {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.text-block {
  max-width: 70%;
  font-size: 2vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

h1 {
  text-align: center;
  font-size: 10vh;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #365902;
}

.App-link {
  color: #fb6161;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #365902;
  padding: 10px;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

.FoodLogo {
  height: 40px;
  width: 60px;
}

.NavLink {
  list-style: none;
  margin: 0;
}

.NavLink a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.NavLink a:hover {
  color: #ff6347;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #365902;
  text-align: center;
  padding: 1px;
}

.SignIn2 {
  text-align: center;
}

.SignIn2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

FormGroup {
  margin-bottom: 15px;
  text-align: left;
}

Label {
  display: block;
  margin-bottom: 5px;
}

Input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

Input[type="submit"] {
  align-self: flex;
}

.aboutUsContainer {
  padding: 2rem;
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #365902;
  opacity: 0.7;
}
.aboutUs {
  text-align: center;
  color: #f25c05;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  background-color: #365902;
  opacity: 0.7;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../src/Assets/foodappp.png);
  background-size: cover;
  background-repeat: repeat;
  border-top: 100px;
  height: 100vh;
}

.index-card {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 10px;  
}

.index-img {
  width: 300px;
  height: 300px;
}

.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  flex: 0 0 calc(25% - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.recipe-show {
  padding-top: 25vh;
  text-align: center;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10px;
}

.recipe-title {
  margin-top: 10px;
}

.recipe-column1 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.recipe-image {
  height: 300px;
}

.recipe-description {
  margin-top: 10px;
}

.recipe-column2 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-column3 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-new {
  padding-top: 5vh;
  text-align: center;
}

.recipe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10px;
}

.recipe-form-column1 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.recipe-form-column2 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;
}

.recipe-form-column3 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Heading3 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: #bf0404;
}

.Pitch3 {
  position: fixed;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: 4px solid #33333300;
  padding: 2px;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0);
  font-family: "Quicksand", sans-serif;
  background-color: #365902;
  opacity: 0.7;
}

.SignUp3 {
  position: fixed;
  left: 80%;
  top: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.SignIn3 {
  position: fixed;
  left: 80%;
  top: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
