.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  padding: 10px;
}

.FoodLogo {
  height: 40px;
  width: 60px;
}

.NavItem {
  list-style: none;
  margin: 0;
}

.NavItem a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.NavItem a:hover {
  color: #ff6347;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.SignIn2 {
  text-align: center;
}

.SignIn2 form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

FormGroup {
  margin-bottom: 15px;
  text-align: left;
}

Label {
  display: block;
  margin-bottom: 5px;
}

Input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

Input[type="submit"] {
  align-self: flex;
}

.aboutUsContainer {
    padding: 2rem;
    background-position: center;
    border: white 0.1rem solid;
    border-color: azure;
    text-align: center;
}


body {
  margin: 0; 
  padding: 0; 
  background-image: url('../src/Assets/Food-Background.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.index-card {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 90px;
}

.index-img {
  width: 300px;
  height: 300px;
}

.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  flex: 0 0 calc(25% - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.recipe-show {
  padding-top: 25vh;
  text-align: center;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10px;
}

.recipe-title {
  margin-top: 10px;
}

.recipe-column1 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.recipe-image {
  height: 300px;
}

.recipe-description {
  margin-top: 10px;
}

.recipe-column2 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-column3 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-new {
  padding-top: 25vh;
  text-align: center;
}

.recipe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10px;
}

.recipe-form-column1 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.recipe-form-column2 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;
}

.recipe-form-column3 {
  flex: 0 0 calc(33.3% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Heading3 {
  text-align: center;
}

.Pitch3 {
  position: fixed;
  left: 35%;
  top: 50%; 
  transform: translate(-50%, -50%);
  border: 2px solid #333; 
  padding: 2px; 
  width: fit-content; 
  background-color: gray;
}

.SignUp3 {
  position: fixed;
  left: 80%;
  top: 40%;
}

.SignIn3 {
  position: fixed;
  left: 80%;
  top: 45%;
}